.product-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 6px;
    overflow: hidden; /* Hide overflow content */
}


.product-name,
.product-price {
    text-decoration: none; /* Remove underline */
}
.product-link {
    text-decoration: none; /* Remove underline from all links within .product-link */
}