.order-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-image {
    margin-right: 20px;
}